@import url('https://fonts.googleapis.com/css?family=Oswald');


h1, h2 {
    font-size: 36pt; 
}
body  {
    font-family: 'Oswald', sans-serif;
    box-sizing: content-box;
    color: white; 
    background-color: darkslategray;
    opacity: 1;
}

.container {
    display: flex;
    width: 90%; 
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    margin: 0 auto; 
    padding: 10px; 
    background-color: darkslategray;
 
}

button {
    border: 0; 
    text-decoration: none; 
    transition-duration: 500ms; 
    background-color: darkseagreen;
    color: black; 
    border-radius: 12px; 
    border: 1px solid black; 
    font-family: 'Oswald', sans-serif; 
}


button:hover {
    background-color: black; 
    color: white; 

}

.startGame button {
    width: 50%; 
    font-size: 24pt; 
    margin: 10px auto; 

}

.userDash button {
    width: 50%; 
    font-size: 24pt; 
    margin: 10px auto; 
}

.newGameButton {
    transition-duration: 500ms; 
    border: 0; 
    text-decoration: none; 
    transition-duration: 500ms; 
    background-color: lightyellow; 
    color: black; 
    border-radius: 12px; 
    border: 1px solid black;
}

.newGameButton:hover {
    background-color: black; 
    color: white;
}


.startGame {
    text-align: center; 
}

.hide {
    display: none; 
}

.invisible {
    visibility: hidden;
}

.questionContainer {
    text-align: center;
    margin: 0; 
}

.questionContainer h1 {
    margin: 0; 
}

.timer h2 {
    text-align: center;
    font-size: 40pt; 
    margin: 0; 
    padding: 5px; 
    
}

.answers {
    padding: 0;
    margin: 0;
    width: 100%; 
}

.answers div {
    text-align: center; 
    font-size: 30pt; 
}

.answer {
    text-align: center;
    font-size: 30pt; 
    margin: 0;
    padding: 2px;
    font-weight: bold; 
    border: 1px solid lightgray;
    border-radius: 12px; 
    margin: 10px auto; 
    transition-duration: 350ms; 
    transition-delay: 50ms
}

.answer p {
    margin: 0; 
    padding: 10px; 
    transition-duration: 500ms; 
}

.answer:not(.answerIncorrect):hover {
    background-color: cadetblue;
    opacity: 0.75; 
    color: white; 

}

.answerCorrect {
    background-color: cadetblue; 
    color: white; 
    opacity: 1; 
    
    
}

.answerIncorrect {
    opacity: 0.20; 
}

.userAlert {
    color: red; 
    font-size: 30pt; 
    text-align: center;

}

.userSuccess {
    color: greenyellow;
    font-size: 30pt; 
    text-align: center; 
}


