@import url('https://fonts.googleapis.com/css?family=Oswald');


h1, h2 {
    font-size: 40pt; 
}
body  {
    font-family: 'Oswald', sans-serif;
    box-sizing: content-box;
    background-color: beige;
}

.container {
    display: flex;
    width: 75%; 
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    margin: 0 auto; 
    padding: 10px; 
    border: 1px solid black; 
}

button {
    border: 0; 
    text-decoration: none; 
    transition-duration: 500ms; 
    background-color: darkgoldenrod; 
    color: white; 
    border-radius: 12px; 
    border: 1px solid black; 
}


button:hover {
    background-color: green; 
    color: white; 

}

.startGame button {
    width: 50%; 
    font-size: 24pt; 
    margin: 10px auto; 
}

.userDash button {
    width: 50%; 
    font-size: 24pt; 
    margin: 10px auto; 
}


.startGame {
    text-align: center; 
}

.hide {
    display: none; 
}

.invisible {
    visibility: hidden;
}



.questionContainer {
    text-align: center;
}

.timer h2 {
    text-align: center;
    font-size: 50pt; 
    
}

.answers {
    padding: 0;
    margin: 0;
    width: 100%; 
}

.answer {
    text-align: center;
    font-size: 30pt; 
    margin: 0;
    padding: 2px;
    font-weight: bold; 
}

.answer p {
    margin: 0; 
    padding: 10px; 
}

.answer:hover {
    background-color: cadetblue;
    opacity: 0.75; 
    color: white; 

}

.answerIncorrect:hover {
    background-color: beige; 
    opacity: 0.20; 
    color: black; 
}

.answerCorrect {
    background-color: cadetblue; 
    color: white; 
    opacity: 1; 
}

.answerIncorrect {
    opacity: 0.20; 
}

.userAlert {
    color: red; 
    font-size: 30pt; 
    text-align: center;

}


